html,
body,
#app {
    width: 100%;
    font-family: 'Noto Sans TC';
    color: $dark;
    overflow-x: hidden !important;
}

.v-text-field.v-text-field--enclosed:not(.v-text-field--rounded)>.v-input__control>.v-input__slot,
.v-text-field.v-text-field--enclosed .v-text-field__details {
    padding: 0 20px;
}

.container {
    @include min-padpro {
        max-width: 1040px;
    }
}

.v-menu__content {
    border-radius: 20px;
    box-shadow: 0px 4px 15px rgba(4, 18, 58, 0.15);

    .v-list {
        padding: 0;
    }

    .v-list-item__title {
        text-align: center;
        font-size: 18px;
    }
}

.v-btn {
    text-transform: none;

    &::before {
        display: none;
    }
}

.scroll-mobile {
    @include max-phone {
        flex-wrap: nowrap;
        overflow-x: auto;
        padding: 16px;

        >* {
            width: 102%;
            padding: 0 10px 0 0;
            flex-grow: initial;
            max-width: none;
        }
    }
}

.v-breadcrumbs {
    .v-breadcrumbs__item {
        font-size: 16px;
        padding-left: 0;

        &::after {
            content: '\f006';
            font-family: 'fontello';
            font-size: 10px;
            margin-left: 10px;
        }
    }

    li {
        &:last-child {
            .v-breadcrumbs__item::after {
                display: none;
            }
        }
    }
}

.t-gary {
    color: $gary;
}

.travel-dialog {
    .v-card {
        .v-image {
            border-radius: 14px !important;
            overflow: hidden;
        }
    }
}